.content-card {
  border-radius: 15px;
  background-color: white;
  padding: 15px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.post-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0px 0px 12px 0px;
}

.user-image img {
  display: flex;
  height: 40px;
  border-radius: 12px;
}

.details-post {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 16px;
  font-weight: 700;
}

.divider {
  font-size: 16px;
}

.user-instance {
  font-size: 16px;
}

.date-time-post {
  font-size: 10px;
  color: #7e7e7e;
}

.post-text {
  font-size: 16px;
  color: #263238;
  margin-bottom: 10px;
}

.post-img {
  /* flex-direction: row;
  display: flex;
  gap: 10px; */
  margin-bottom: 20px;
}

.post-img img {
  width: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.post-img img:hover {
  transform: scale(1.005);
}

.slick-slide img {
  width: 100%;
}

.slick-prev,
.slick-next {
  z-index: 1;
  width: 40px;
  height: 40px;
}

.slick-prev::before,
.slick-next::before {
  color: #01baf2;
  font-size: 50px;
}

.slick-dots li button:before {
  font-size: 10px;
  color: #000;
}

.slick-dots li.slick-active button:before {
  color: #01baf2;
}

.post-interactions {
  justify-content: space-between;
  display: flex;
  margin: 10px 10px 13px 10px;
}

.interaction {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  transition: transform 0.2s ease, color 0.2s ease;
}

.interaction img {
  transform: scale(0.9);
  transition: transform 0.2s ease;
}

.interaction.animate {
  transform: scale(1.1);
  color: #01baf2;
}

.interaction.animate img {
  transform: scale(1.1);
  color: #01baf2;
}

.text-interaction {
  font-size: 14px;
  color: #7e7e7e;
  font-weight: 600;
  margin-left: 5px;
  transition: color 0.2s ease;
}

.interaction.active .text-interaction {
  color: #ff6b6b;
}
.hr {
  color: #c6c6c6;
}

.comment-field {
  background-color: #f1f2f6;
  border-radius: 15px;
  border: 1px solid #7e7e7e;
  padding: 5px;
  display: flex;
  align-items: center;
  width: 100%;
}

.comment-field input {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  margin-left: 10px;
  font-family: "Nunito Sans", sans-serif;
}

.bottom-section {
  display: flex;
  margin-top: 15px;
  gap: 10px;
}

@media (max-width: 768px) {
  .content-card {
    border-radius: 0px;
  }
}
