    /* src/components/Card.css */
    .changeName-card {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 20px;
        padding: 15px;
    }

    hr {
        margin: 10px 0px 10px 0px;
        border-color: #C6C6C6;
        border-width: 1px;
    }

    .changeName-card .changeName-description {
        padding: 15px;
    }

    .changeName-card .changeName-description h2 {
        margin-bottom: 15px;
        font-size: 24px;
    }

    .name-input {
        width: 100%;
        padding: 15px;
        margin-top: 10px;
        border: 1px solid #ddd;
        border-radius: 15px;
        background-color: #F1F2F6;
        color: #7E7E7E;
        font-size: 16px;
        font-family: "Nunito Sans", sans-serif;
    }

    .name-input:focus {
        outline: none;
        border-color: #01BAF2;
        box-shadow: 0 0 5px rgba(1, 186, 242, 0.5);
    }

    .save-changes-button {
        width: calc(100% - 40px);
        margin: 0px 20px 20px 20px;
        padding: 15px;
        font-size: 16px;
        font-weight: 500;
        color: #9ACB3D;
        background-color: #E5EFD3;
        border: 1px solid #9ACB3D;
        border-radius: 15px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.2s;
    }

    .save-changes-button:hover {
        background-color: #d9ff92;
    }

    .error-message {
        color: red;
        font-size: 14px;
        margin-top: 10px;
        text-align: center;
        /* Center align text */
    }


    @media (max-width: 768px) {
        .changeName-card {
            background-color: #fff;
            border-radius: 0px;
            overflow: hidden;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin: 0;
            padding: 15px;
        }

        hr {
            margin: 10px 0px 10px 0px;
        }

        .save-changes-button {
            margin: 20px 20px 20px 20px;
        }
    }