.modal-dialog {
  max-width: 600px;
  /* Lebar maksimum modal */
  margin: 30px auto;
  /* Margin untuk memastikan modal berada di tengah layar */
}

.modal-content {
  border-radius: 15px;
  /* Radius sudut modal */
  padding: 20px;
  /* Padding di dalam modal */
  border: none;
  /* Menghilangkan border default */
}

.modal-header,
.modal-body,
.modal-footer {
  border: none;
  /* Menghilangkan border default */
}

.modal-header {
  border-bottom: none;
  /* Menghilangkan border bawah header modal */
  padding-bottom: 0;
  /* Mengurangi padding bawah header */
}

.modal-footer {
  border-top: none;
  /* Menghilangkan border atas footer modal */
  padding-top: 0;
  /* Mengurangi padding atas footer */
  text-align: center;
  /* Menempatkan isi footer di tengah */
}

.modal-title {
  font-size: 24px;
  /* Ukuran font judul modal */
}

.modal-body {
  font-size: 16px;
  /* Ukuran font isi modal */
  text-align: center;
  /* Memusatkan teks di dalam modal body */
}

.go-to-login-btn {
  background-image: linear-gradient(to right, #5cd9ff, #01baf2);
  /* Warna latar belakang tombol "Go to Login" */
  color: #ffffff;
  /* Warna teks tombol */
}


.modal-footer .btn {
  /* Warna latar belakang tombol */
  border: none;
  /* Menghilangkan border default tombol */
  color: #ffffff;
  /* Warna teks tombol */
  border-radius: 50px;
  /* Membulatkan sudut tombol */
  font-size: 14px;
  /* Ukuran font tombol */
  font-weight: 600;
  /* Berat font tombol */
  padding: 10px 20px;
  /* Padding tombol */
  margin-top: 20px;
  /* Jarak tombol dari elemen di atasnya */
}

/* CSS yang ada */
.register-container {
  display: flex;
  flex-direction: row;
}

.register-left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.register-right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;
}

.register-right-side h1 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 25px;
}

.register-formlist {
  width: 70%;
  /* Pertahankan lebar untuk responsivitas */
  display: flex;
  flex-direction: column;
  text-align: center;
}

.register-formlist p,
.register-formlist form,
.register-formlist input,
.register-formlist button {
  width: 100%;
  /* Memastikan semua elemen dalam form memiliki lebar penuh */
  box-sizing: border-box;
  /* Pastikan padding tidak memengaruhi lebar */
}

.register-formlist p {
  margin-bottom: 15px;
}

.register-formlist span {
  font-weight: bold;
  color: #f18931;
}

#Register-loginSpan {
  font-weight: bold;
  color: #01baf2;
  text-decoration: none;
}

.register-icon-banner {
  width: auto;
  height: 100vh;
  object-fit: cover;
  object-position: right center;
  position: relative;
}

.register-login-icon {
  position: absolute;
  width: 25%;
  margin-left: 9%;
}

#Register-enterText {
  margin: 7px 0 20px 0;
}

@media (max-width: 426px) {
  .register-left-side {
    display: none;
  }

  .register-right-side {
    width: 100%;
    height: 100vh;
  }

  #register {
    display: none;
  }

  .register-description {
    display: none;
  }

  #logo {
    font-family: "Pacifico", cursive;
    color: #01baf2;
    font-size: 50px;
  }
}

@media (min-width: 427px) and (max-width: 768px) {
  .register-left-side {
    display: none;
  }

  #register {
    display: none;
  }

  .register-right-side {
    width: 100%;
    height: 100vh;
  }

  #Login {
    display: none;
  }

  .register-description {
    display: none;
  }

  #logo {
    font-family: "Pacifico", cursive;
    color: #01baf2;
    font-size: 50px;
    margin-bottom: 25px;
  }
}

@media (min-width: 769px) {
  #logo {
    font-family: "Pacifico", cursive;
    color: #01baf2;
    font-size: 50px;
    display: none;
  }
}