.intern-history-container {
  background-color: white;
  margin-bottom: 15px;
  padding: 20px 25px 30px 25px;
  display: flex;
  flex-direction: column;
  align-items: left;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.intern-history-container h2 {
  margin-bottom: 15px;
}

.intern-history-container hr {
  border: none;
  height: 0.1px;
  background-color: #E2E2E2;

}

.internship-detail-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  text-align: right;
}

.internship-certificate-link {
  text-align: underline;
  color: #F18931;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  color: #01BAF2;
}

.intern-history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.internship-edit {
  background: none;
  border: none;
  cursor: pointer;
}

.internship-edit-icon {
  width: 20px;
  height: 20px;
}