    /* src/components/Card.css */
    .changeEmail-card {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 20px;
        padding: 15px;
    }

    hr {
        margin: 10px 0px 10px 0px;
        border-color: #C6C6C6;
        border-width: 1px;
    }

    .changeEmail-card .changeEmail-description {
        padding: 15px;
    }

    .changeEmail-card .changeEmail-description h2 {
        margin-bottom: 15px;
        font-size: 24px;
    }

    .changeEmail-email-input {
        width: 100%;
        padding: 15px;
        margin-top: 10px;
        border: 1px solid #ddd;
        border-radius: 15px;
        background-color: #F1F2F6;
        color: #7E7E7E;
        font-size: 16px;
        font-family: "Nunito Sans", sans-serif;
    }

    .changeEmail-email-input:focus {
        outline: none;
        border-color: #01BAF2;
        box-shadow: 0 0 5px rgba(1, 186, 242, 0.5);
    }


    @media (max-width: 768px) {
        .changeEmail-card {
            background-color: #fff;
            border-radius: 0px;
            overflow: hidden;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin: 0;
            padding: 15px;
        }

        hr {
            margin: 10px 0px 10px 0px;
        }
    }