.profile {
  width: 50%;
  margin-top: 90px;
}

.container {
  display: flex;
  justify-content: center;
}

@media (max-width: 426px) {
  .profile {
    width: 100%;
  }
}

@media (min-width: 427px) and (max-width: 768px) {
  .profile {
    width: 65%;
  }
}
