.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2);
}

.logo-sidebar {
  display: flex;
  flex-direction: row;
}

.logo-sidebar img {
  display: none;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  align-items: flex-start;
  color: #01baf2;
  font-family: "Pacifico", cursive;
}

.search-container {
  background-color: #f1f2f6;
  border-radius: 15px;
  border: 1px solid #5c6c74;
  padding: 5px;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
}

.search-container img {
  margin: 0px 5px 0px 5px;
  width: 20px;
}

.search-container input {
  border: none;
  background: none;
  outline: none;
  padding: 5px;
  font-family: "Nunito Sans", sans-serif;
  width: 100%;
}

.search-icon {
  display: none;
}

.add-post-article {
  display: none;
}

.user-section {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
  color: black;
}

.user-university {
  font-size: 12px;
  color: #7e7e7e;
}

.user-image {
  display: flex;
}

.user-image img {
  width: 40px;
  height: 40px;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .logo-sidebar img {
    display: flex;
  }
  .logo {
    margin: 0px 25px;
  }
  .search-container {
    display: none;
  }
  .search-icon {
    display: flex;
    margin-right: 15px;
    transform: scale(0.9);
  }
  .add-post-article {
    display: flex;
    margin-right: 15px;
    transform: scale(0.9);
  }
  .user-info {
    display: none;
  }
}
