.internship-modal-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.internship-modal {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.internship-modal h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.modal-input-group {
    margin-bottom: 15px;
}

.modal-input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.intern-modal-input {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #F1F2F6;
    color: #7E7E7E;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}

.intern-modal-input:focus {
    outline: none;
    border-color: #01BAF2;
    box-shadow: 0 0 5px rgba(1, 186, 242, 0.5);
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.intern-cancel-button,
.intern-save-button {
    padding: 8px 16px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.intern-cancel-button {
    background-color: #ccc;
}

.intern-save-button {
    background-color: #01BAF2;
    color: white;
}

.intern-modal-input {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #F1F2F6;
    color: #7E7E7E;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}

.intern-modal-input::placeholder {
    color: #7E7E7E;
}

.intern-modal-input::-webkit-datetime-edit {
    color: #7E7E7E;
}

.intern-modal-input::-webkit-calendar-picker-indicator {
    filter: invert(56%) sepia(7%) saturate(142%) hue-rotate(166deg) brightness(94%) contrast(85%);
}