.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.section-1 {
  width: 25%;
}

.logo-sidebar {
  display: flex;
  flex-direction: row;
}

.logo-sidebar a {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.logo-sidebar img {
  display: none;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  align-items: flex-start;
  color: #01baf2;
  font-family: "Pacifico", cursive;
}

.section-2 {
  width: 50%;
}

.search-container {
  background-color: #f1f2f6;
  border-radius: 15px;
  border: 1px solid #5c6c74;
  padding: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.search-container img {
  margin: 0px 5px 0px 5px;
  width: 20px;
}

.search-container input {
  border: none;
  background: none;
  outline: none;
  box-sizing: border-box;
  padding: 5px;
  font-family: "Nunito Sans", sans-serif;
  width: 100%;
}

.section-3 {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

.search-icon {
  display: none;
}

.add-post-article {
  display: none;
}

.user-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
}
.user-name {
  font-weight: bold;
  color: black;
}

.user-university {
  font-size: 12px;
  color: #7e7e7e;
}

.user-image {
  display: flex;
  align-items: center;
}

.user-image a {
  display: flex;
}

.user-image img {
  width: 40px;
  height: 40px;
}

@media (max-width: 1024px) {
  .search-container {
    display: none;
  }
  .search-icon {
    display: flex;
    margin-right: 15px;
    transform: scale(0.9);
  }
  .search-icon a {
    display: flex;
  }
  .add-post-article a {
    display: flex;
  }
  .add-post-article {
    display: flex;
    margin-right: 15px;
    transform: scale(0.9);
  }
  .user-section {
    display: flex;
    align-items: center;
  }
  .user-info {
    display: none;
  }
}

@media (max-width: 768px) {
  .logo-sidebar img {
    display: flex;
    align-items: center;
  }
  .logo {
    margin: 0px 25px;
  }
  .search-container {
    display: none;
  }
  .search-icon {
    display: flex;
    margin-right: 15px;
    transform: scale(0.9);
  }
  .search-icon a {
    display: flex;
  }
  .add-post-article a {
    display: flex;
  }
  .add-post-article {
    display: flex;
    margin-right: 15px;
    transform: scale(0.9);
  }
  .user-section {
    display: flex;
    align-items: center;
  }
  .user-info {
    display: none;
  }
}