.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-section-1 {
  width: 25%;
  display: flex;
}

.navbar-a {
  width: 10%;
}
.navbar-b {
  width: 90%;
}

.navbar-logo-sidebar {
  display: flex;
  flex-direction: row;
}

.navbar-logo-sidebar a {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.navbar-logo-sidebar img {
  display: none;
}

.navbar-logo {
  font-size: 30px;
  font-weight: bold;
  align-items: flex-start;
  color: #01baf2;
  font-family: "Pacifico", cursive;
}

.navbar-section-2 {
  width: 50%;
}

.navbar-search-container {
  background-color: #f1f2f6;
  border-radius: 15px;
  border: 1px solid #5c6c74;
  padding: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.navbar-search-container img {
  margin: 0px 5px 0px 5px;
  width: 20px;
}

.navbar-search-container input {
  border: none;
  background: none;
  outline: none;
  box-sizing: border-box;
  padding: 5px;
  font-family: "Nunito Sans", sans-serif;
  width: 100%;
}

.navbar-section-3 {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

.navbar-search-icon {
  display: none;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.dropdown-menu {
  display: flex;
  width: 170px;
  flex-direction: column;
  position: absolute;
  right: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-20px);
  animation: dropdownIn 0.3s forwards ease-in-out;
}

@keyframes dropdownIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-menu.exit {
  animation: dropdownOut 0.3s forwards ease-in-out;
}

@keyframes dropdownOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.create-article-a a {
  margin: 10px 10px 0 10px;
  border-radius: 10px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  color: #01baf2;
  background-color: white;
  font-weight: bold;
  transition: background-color 0.2s, color 0.2s;
}

.create-post-a a {
  margin: 0px 10px 10px 10px;
  border-radius: 10px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  color: #01baf2;
  background-color: white;
  font-weight: bold;
  transition: background-color 0.2s, color 0.2s;
}

.dropdown-menu a:hover {
  background-color: #01baf2;
  color: white;
  transform: scale(1.05);
}

.navbar-add-post-article {
  display: none;
  margin-top: 6px;
}

.navbar-user-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
}
.navbar-user-name {
  font-weight: bold;
  color: black;
}

.navbar-user-university {
  font-size: 12px;
  color: #7e7e7e;
  font-weight: 700;
}

.navbar-user-image {
  display: flex;
  align-items: center;
}

.navbar-user-image a {
  display: flex;
}

.navbar-user-image img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .navbar-search-container {
    display: none;
  }
  .navbar-search-icon {
    display: flex;
    margin-right: 15px;
    transform: scale(0.9);
  }
  .navbar-search-icon a {
    display: flex;
  }
  .navbar-add-post-article a {
    display: flex;
  }
  .navbar-add-post-article {
    margin-right: 15px;
    transform: scale(0.9);
    display: flex;
  }
  .navbar-add-post-article {
    display: flex;
    margin-right: 15px;
    transform: scale(0.9);
  }
  .navbar-user-section {
    display: flex;
    align-items: center;
  }
  .navbar-user-info {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar-a {
    width: 0%;
  }
  .navbar-b {
    width: 100%;
  }
  .navbar-logo-sidebar img {
    display: flex;
    align-items: center;
  }
  .navbar-logo {
    margin: 0px 25px;
  }
  .navbar-search-container {
    display: none;
  }
  .navbar-search-icon {
    display: flex;
    margin-right: 15px;
    transform: scale(0.9);
  }
  .navbar-search-icon a {
    display: flex;
  }
  .navbar-add-post-article a {
    display: flex;
  }
  .navbar-add-post-article {
    display: flex;
    margin-right: 15px;
    transform: scale(0.9);
  }
  .navbar-user-section {
    display: flex;
    align-items: center;
  }
  .navbar-user-info {
    display: none;
  }
}
