.profile-content {
  width: 100%;
  flex-direction: column;
  padding-bottom: 10x;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0 20px 0;
}

.button-nest {
  display: flex;
  justify-content: center;
  width: 50%;
}

.button-nest a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

