#blue-button {
  background-image: linear-gradient(to right, #5cd9ff, #01baf2);
  width: 100%;
  border-radius: 100px;
  color: #ffffff;
  margin: 7px 0 20px 0;
  border: none;
  font-size: 14px;
  font-weight: 600;
  padding: 12px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  transition: background-image 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

#blue-button:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  transform: translateY(2px); 
}
